@import 'tailwindcss';
@import 'tailwindcss-primeui';

@theme {
    /* 어두운 구간: gray-950 → gray-850 */
    --color-gray-950: oklch(18.31% 0.004 285.99); /* 기준색 */
    --color-gray-900: oklch(20.16% 0.0111 270.85);
    --color-gray-850: oklch(22% 0.0182 255.71); /* 새 중간값 */

    /* 밝은 구간: gray-850 → gray-50 */
    --color-gray-800: oklch(26.75% 0.01706 257.57);
    --color-gray-750: oklch(31.5% 0.01593 259.43);
    --color-gray-700: oklch(36.25% 0.01479 261.3);
    --color-gray-650: oklch(41% 0.01365 263.16);
    --color-gray-600: oklch(45.75% 0.01251 265.02);
    --color-gray-550: oklch(50.5% 0.01138 266.88);
    --color-gray-500: oklch(55.25% 0.01024 268.74);
    --color-gray-450: oklch(60% 0.0091 270.61);
    --color-gray-400: oklch(64.75% 0.008 272.47);
    --color-gray-350: oklch(69.5% 0.00683 274.33);
    --color-gray-300: oklch(74.25% 0.00569 276.19);
    --color-gray-250: oklch(79% 0.00455 278.05);
    --color-gray-200: oklch(83.75% 0.00341 279.91);
    --color-gray-150: oklch(88.5% 0.00228 281.78);
    --color-gray-100: oklch(93.25% 0.00114 283.64);
    --color-gray-50: oklch(98% 0 285.5);
}

:root {
    --custom-notice-bar-height: calc(var(--spacing) * 15);
    --custom-app-top-bar-height: 1rem;
    --custom-app-bottom-pannel-height: 3rem;
    --custom-lounge-list-width: calc(var(--spacing) * 14);
    --custom-item-list-width: calc(var(--spacing) * 60);
    --custom-side-bar-left-width: calc(
        var(--custom-lounge-list-width) + var(--custom-item-list-width)
    );
    --lounge-list-sutdy-icon-size: 1.5rem;

    --custom-scrollbar-color: oklch(66.75% 0.00316 285.6);
    --custom-scrollbar-color-hover: oklch(78.73% 0.00195 285.56);
    --custom-scrollbar-color-active: oklch(55.9% 0.00427 285.63);

    --custom-bottom-pannel-height: calc(var(--spacing) * 14);

    --custom-auth-form-width: calc(var(--spacing) * 75);
    --custom-auth-input-width: calc(var(--spacing) * 65);

    --custom-right-sidebar-width: calc(var(--spacing) * 20);
}

.discord-app {
    display: flex;
    height: 100vh;
}

.app {
    width: 100vw;
    height: 100vh;
}

/* 커스텀 스크롤바 스타일 */
/* WebKit 기반 브라우저 */
::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-400);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-gray-500);
}
/* Firefox */
